@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: #0D1A2D;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;;
}
.container {
    background-color: #14253C;
    color: white;
    padding: 25px;
    width: 310px;
    height: 600px;
    border-radius: 15px;
}
header img {
    width: 100%;
    height: 320px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.container h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
.container .description{
    font-weight: 300;
    color: #95ABCA;
    margin-bottom: 20px;
}
.container .time {
    color: #7184A2;
    margin-bottom: 20px;
}
.container .points {
    color: #1CE7EB;
    margin-bottom: 30px;
}
.other {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2F4159;
}
footer {
    display: flex;
}
footer img{
    position: relative;
    width: 30px;
    border: 1px solid #EBEAED;
    border-radius: 100%;
    top: 35px;
    display: inline-block;
}
footer p {
    position: relative;
    top: 40px;
    margin-left: 20px;
    color: #7E94B4;
}
footer span {
    color: white;
}